/* reset css */
* {
  box-sizing: border-box;
  font-family: "微軟正黑體";
  color: #040f0f;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
img,
div,
span {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  font-size: 14px;
  line-height: 1.6;
}

/* main-container */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* intro setting */
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  background-color: #fcfffc;
}
.intro-content {
  margin-bottom: 20px;
}
.icon:hover {
  color: #56a3a6;
}

/* collection-container setting */
.fixed-width {
  width: 80%;
  margin: 0 auto;
}
.collection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection-link {
  width: 60%;
}
.collection-screenshot {
  width: 100%;
}
#collection_1 {
  background-color: #d33f49;
}
#collection_2 {
  background-color: #bbc7a4;
}

#collection_3 {
  background-color: #f0ca50;
}

@media screen and (min-width: 576px) {
  /* main-container */
  .main-container {
    flex-direction: row;
  }

  /* intro-container */
  .intro-container {
    flex-basis: 35%;
    align-items: baseline;
    position: sticky;
    top: 0;
  }

  /* collection-container */
  .collection-container {
    flex-basis: 65%;
  }
}
