@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;600;700&display=swap");
/* reset css */
* {
  box-sizing: border-box;
  font-family: "Chivo Mono", monospace, "微軟正黑體";
  color: #202C39;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
img,
div,
span {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  font-size: 14px;
  line-height: 1.6;
}

a, a:hover {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

/* set screen size */
/* main-container */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .container {
    flex-direction: row;
  }
}

/* intro setting */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
  background-color: #FEFEFE;
}
@media screen and (min-width: 576px) {
  .intro {
    flex-basis: 35%;
    align-items: baseline;
    position: sticky;
    top: 0;
  }
}
.intro__content {
  margin-bottom: 20px;
}
.intro__content > h2 {
  font-weight: 400;
  line-height: 1.5em;
}
.intro__contact {
  display: flex;
  align-items: center;
}
.intro__contact > a {
  display: flex;
  align-items: center;
}
.intro__contact img {
  margin-left: 10px;
}

/* collections setting */
@media screen and (min-width: 576px) {
  .main {
    flex-basis: 65%;
  }
}
.main .collection {
  position: relative;
}
.main__collection {
  height: 100vh;
}
.main__collection__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main__detail {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: -100%;
  z-index: -99;
  transition: top 0.8s, z-index 2s;
}
.main__detail__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.main__detail__container .about-list {
  margin: 20px 0;
}
.main__detail__container .close-container {
  position: absolute;
  top: 20px;
  right: 0;
}

.show {
  z-index: 99;
  top: 0;
  transition: top 1s;
}

.image__container {
  cursor: pointer;
  position: relative;
}
.image__container__more {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.image__container__more > h3 {
  font-weight: 700;
  font-size: 35px;
  position: absolute;
  color: #FEFEFE;
}
.image__container__more:hover {
  opacity: 1;
  transition: opacity 0.5s;
}
.image__container__more:hover > h3 {
  animation: bounce 0.5s 2;
}

#collection-1 {
  background-color: #508CA4;
}
#collection-1 .image__container__more {
  background-color: rgba(80, 140, 164, 0.95);
}
#collection-1 > .main__detail {
  background-color: #C8DCE4;
}

#collection-2 {
  background-color: #F7B538;
}
#collection-2 .image__container__more {
  background-color: rgba(247, 181, 56, 0.95);
}
#collection-2 > .main__detail {
  background-color: #FBDA9D;
}

#collection-3 {
  background-color: #8CC084;
}
#collection-3 .image__container__more {
  background-color: rgba(140, 192, 132, 0.95);
}
#collection-3 > .main__detail {
  background-color: #CDE3C9;
}

#collection-4 {
  background-color: #DA4167;
}
#collection-4 .image__container__more {
  background-color: rgba(218, 65, 103, 0.95);
}
#collection-4 > .main__detail {
  background-color: #F2BBC9;
}

#collection-5 {
  background-color: #C69DD2;
}
#collection-5 .image__container__more {
  background-color: rgba(198, 157, 210, 0.95);
}
#collection-5 > .main__detail {
  background-color: #DEC7E5;
}

.icon {
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
}

.icon:hover {
  filter: invert(56%) sepia(38%) saturate(3779%) hue-rotate(325deg) brightness(85%) contrast(102%);
}

.fixed-width {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.d-none {
  display: none;
}

ul li {
  margin: 10px 0;
  padding-left: 10px;
  list-style-image: url("../../images/list.svg");
  font-size: 18px;
}

.link-container {
  margin-left: 10px;
}

@keyframes bounce {
  0% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
