@import "_base";
@import "_variable";

/* main-container */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include desktop {
        flex-direction: row;
    }
}

/* intro setting */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    background-color: $white;
    @include desktop{
        flex-basis: 35%;
        align-items: baseline;
        position: sticky;
        top: 0;
    }
    &__content{
        margin-bottom: 20px;
        >h2{
            font-weight: 400;
            line-height: 1.5em;
        }
    }
    &__contact{
        display: flex;
        align-items: center;
        > a{
            display: flex;
            align-items: center;
        }
        img{
            margin-left: 10px;
        }
    }
}

/* collections setting */
.main {
    @include desktop{
        flex-basis: 65%;
    }
    .collection {
        position: relative;
    }
    &__collection {
        height: 100vh;
        
        &__container{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    &__detail{
        height: 100vh;
        width: 100%;
        position: absolute;
        top:-100%;
        z-index: -99;
        transition:top 0.8s, z-index 2s;
        &__container{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            .about-list{
                margin: 20px 0;
            }
            .close-container{
                position: absolute;
                top:20px;
                right: 0;
            }
        }
    }
}

.show{
    z-index: 99;
    top:0;
    transition: top 1s;
}

.image{
    &__container{
        cursor: pointer;
        position: relative;
        &__more{
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            >h3{
                font-weight: 700;
                font-size: 35px;
                position: absolute;
                color: $white;      
            }
            &:hover{
                opacity: 1;
                transition: opacity 0.5s;
                >h3{
                    animation: bounce 0.5s 2;
                }
            }
        }
    }
}


#collection-1 {
    background-color: $collection1_primary;
    .image__container__more{
        background-color: rgba($collection1_primary, 0.95);
    }
    > .main__detail{
        background-color: $collection1_secondary;
    }
}

#collection-2 {
    background-color: $collection2_primary;
    .image__container__more {
            background-color: rgba($collection2_primary, 0.95);
        }
    >.main__detail {
            background-color: $collection2_secondary;
        }
}

#collection-3 {
    background-color: $collection3_primary;

    .image__container__more {
        background-color: rgba($collection3_primary, 0.95);
    }

    >.main__detail {
        background-color: $collection3_secondary;
    }
}

#collection-4 {
    background-color: $collection4_primary;

    .image__container__more {
        background-color: rgba($collection4_primary, 0.95);
    }

    >.main__detail {
        background-color: $collection4_secondary;
    }
}

#collection-5 {
    background-color: $collection5_primary;

    .image__container__more {
        background-color: rgba($collection5_primary, 0.95);
    }

    >.main__detail {
        background-color: $collection5_secondary;
    }
}

// other common
.icon{
    width: 1.8em;
    height: 1.8em;
    cursor: pointer;
}
.icon:hover  {
    filter: invert(56%) sepia(38%) saturate(3779%) hue-rotate(325deg) brightness(85%) contrast(102%);
}
.fixed-width {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.d-none{
    display: none;
}
ul li{
    margin: 10px 0;
    padding-left: 10px;
    list-style-image: url("../../images/list.svg");
    font-size: 18px;
}
.link-container{
    margin-left: 10px;
}

@keyframes bounce{
    0%{
        top: 45%;
    }
    100%{
        top: 50%;
    }
}