// 主要顏色
$black: #202C39;
$gray: #A6A6A8;
$white:#FEFEFE;
$hover_color: #FF715B;
$collection1_primary:#508CA4;
$collection1_secondary: #C8DCE4;
$collection2_primary: #F7B538;
$collection2_secondary: #FBDA9D;
$collection3_primary: #8CC084;
$collection3_secondary: #CDE3C9;
$collection4_primary: #DA4167;
$collection4_secondary: #F2BBC9;
$collection5_primary: #C69DD2;
$collection5_secondary: #DEC7E5;

$collection-primary: (
    1: #508CA4,
    2: #F7B538,
    3: #8CC084,
    4: #DA4167,
    5: #C69DD2,
    6:#8FB8DE
);

$collection_secondary:(
    1: #C8DCE4,
    2: #FBDA9D,
    3: #CDE3C9,
    4: #F2BBC9,
    5: #DEC7E5,
    6:#C0D7EC
)
    
